@model Recomendacion
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/recomendacion.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a asp-controller="Home" asp-action="Inicio" class="logo d-flex align-items-center nav-link">
                <i class="fa-solid fa-house"></i>
                <span>Inicio</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="navegacion2 nav-link scrollto active" asp-controller="Home" asp-action="QuienesSomos">QUIÉNES SOMOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="navegacion2 nav-link scrollto" asp-controller="Home" asp-action="QueHacemos">QUÉ HACEMOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="navegacion2 nav-link scrollto" asp-controller="Home" asp-action="Contactanos">CONTACTANOS</a>
                    </li>
                    @if (User.IsInRole("Administrador"))
                    {
                        <li id="listaUsuario">
                            <a class="navegacion2 nav-link scrollto" asp-controller="Usuario" asp-action="Index">LISTA DE USUARIOS</a>
                        </li>
                        <li>
                            <a class="navegacion2 nav-link scrollto" asp-controller="Cita" asp-action="ListaCita">LISTA DE CITAS</a>
                        </li>
                        <li>
                            <a class="navegacion2 nav-link scrollto" asp-controller="Home" asp-action="ListaContactanos">LISTA DE CONTACTANOS</a>
                        </li>
                    }
                    @if (User.IsInRole("Discapacitado"))
                    {
                        <li id="solicitarCita">
                            <a class="navegacion2 nav-link scrollto" asp-area="" asp-controller="Cita" asp-action="Index">SOLICITAR CITA</a>
                        </li>
                    }
                </ul>
            </div>
            <ul class="navbar-nav float-end">
                <li id="desplegable" class="nav-item dropdown justify-content-start">
                    <a class="navegacion2 nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/img/user.png" width="30" height="30"> @ViewBag.nombre
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li id="editar"><a class="dropdown-item" asp-controller="Usuario" asp-action="Editar" asp-route-Id="@ViewBag.id"><i class="fa-solid fa-user-pen"></i> Editar Perfil</a></li>
                        <li><a class="dropdown-item" asp-controller="Acceder" asp-action="CerrarSesion"><i class="fa-solid fa-right-from-bracket"></i> Salir</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- ======= Hero Section ======= -->
    <div style="background: #E7E7E3">
        @if (ViewBag.recomendacion != null)
        {
            <div class="modal">
                <div class="contenido">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="text-center">Usted acaba de tener una cita de encuentro con un voluntario ¿desea recomendarlo?</h2>
                        </div>
                        <div class="card-body py-4 px-md-4">
                            <form asp-controller="Home" asp-action="Recomendacion" method="post">
                                <div class="form-outline mb-3">
                                    <label class="form-label">Nombre del Voluntario: </label>
                                    <input asp-for="nombreVoluntario" value="@ViewBag.nombreVoluntario" hidden />
                                    <label class="form-label">@ViewBag.nombreVoluntario</label>
                                    <span asp-validation-for="nombreVoluntario" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-2">
                                    <label asp-for="calificacion" class="form-label">Eliga el nivel de recomendación:</label>
                                    <div class="form-check">
                                        <input asp-for="calificacion" type="radio" class="form-check-input" value="1" />
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="form-check">
                                        <input asp-for="calificacion" type="radio" class="form-check-input" value="2" />
                                        <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="form-check">
                                        <input asp-for="calificacion" type="radio" class="form-check-input" value="3" />
                                        <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                                    </div>
                                    <div class="form-check">
                                        <input asp-for="calificacion" type="radio" class="form-check-input" value="4" />
                                        <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <div class="form-outline mb-2">
                                    <label class="form-label">Comentario</label>
                                    <textarea asp-for="comentario" class="form-control" aria-label="With textarea"></textarea>
                                    <div class="form-text">Puede ingresar un comentario si lo desea</div>
                                </div>
                                <br />
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success">Recomendar</button>
                                </div>
                            </form>
                            <br/>
                            <div class="text-center">
                                <form asp-controller="Home" asp-action="Cerrar" method="post">
                                    <input asp-for="nombreVoluntario" value="@ViewBag.nombreVoluntario" hidden />
                                    <input asp-for="comentario" value="ninguno" hidden />
                                    <input asp-for="calificacion" value="0" hidden />
                                    <button type="submit" class="btn btn-danger">Cerrar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <section id="hero" class="hero d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 d-flex flex-column justify-content-center">
                        <h1 id="inicio" style="color: #C92C19">MOBIEASE</h1>
                        <p class="fs-3 mb-3 animated bounceIn" style="color: #191514">
                            Si eres una persona que sufre de alguna discapacidad
                            que no te permite realizar una actividad física por
                            ti misma, esta página web te permitirá encontrar a
                            personas voluntarias que estan dispuestas ayudarte
                            en un tiempo establecido.
                        </p>
                        <img src="~/img/07_discapacidad.jpg" width="300" height="300" class="img-fluid">
                    </div>
                    <div class="col-lg-5 d-flex flex-column justify-content-center">
                        @if (User.IsInRole("Voluntario"))
                        {
                            @if (ViewBag.notificacion != null)
                            {
                                <div id="alerta" class="alert alert-danger d-flex align-items-center" role="alert">
                                    <i class="fa-regular fa-bell"></i>
                                    <a class="nav-link text-danger" asp-controller="Cita" asp-action="ConfirmarCita"> @ViewBag.notificacion</a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </section><!-- End Hero -->
    </div>
    <!-- Footer -->
    <footer class="border-top footer text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-2 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>SÍGUENOS:</span>
            </div>
            <!-- Left -->
            <!-- Right -->
            <div>
                <a href="" class="me-4 text-reset btn btn-link">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset btn btn-link">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset btn btn-link">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset btn btn-link">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-2">
                        <i class="fas fa-gem me-3"></i>MOBIEASE
                    </h6>
                    <p>
                        Telefono: 922513085
                    </p>
                </div>
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-2">
                        NOSOTROS
                    </h6>
                    <a asp-controller="Home" asp-action="QuienesSomos" class="nav-link text-reset">Quiénes Somos</a>
                    <a asp-controller="Home" asp-action="QuienesSomos" class="nav-link text-reset">Que Hacemos</a>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-2">Contacto</h6>
                    <p><a asp-controller="Home" asp-action="Contactanos" class="nav-link text-reset">Contactanos</a></p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2023 Copyright:
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>